[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"

[packages]
aioa2squery = {git = "https://github.com/insurgency/aioa2squery.git",ref = "5c9b43e37c78534b2074e5be8e736b6149c727ff"}

[requires]
python_version = "3.7"
